body {
  background: #f0f0f0;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    /* border-radius: 6px; */
    background-color: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    /* border-radius: 6px; */
    background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    /* background-color: #555; */
    background-color: hsla(220,4%,58%,.3);
}

a {
  color: #ffa800;
  cursor: pointer;
}

a:hover {
  color: #ffba00;
}

.el-pagination.is-background {
  text-align: center;
  margin: 16px 0;
}

.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
  background: #fff;
  border: 1px solid #d9d9d9;
}

.el-pagination.is-background .el-pager li.active {
  border: 1px solid #ffa800;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #ffa800;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #ffa800;
  color: #fff;
}

.el-dialog__header {
  background: #fafafa;
}

.el-dialog__title {
  font-size: 14px;
}

.el-dialog__body {
  padding: 0;
}

.el-dialog__footer {
  padding: 24px;
  padding-top: 12px;
}

.el-switch__input:focus ~ .el-switch__core {
  outline: none;
}

.el-table {
  color: #333;
}

.el-tabs.el-tabs--top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.el-tabs .el-tabs__header {
  margin: 0;
  background: #fff;
  height: 60px;
  flex: none;
}

.el-tabs .el-tabs__header .el-tabs__item {
  font-size: 16px;
  height: 60px;
  line-height: 60px;
}

.el-tabs .el-tabs__nav-wrap {
  padding: 0 20px;
}

.el-tabs .el-tabs__nav-wrap.is-scrollable {
  padding: 0 40px;
}

.el-tabs .el-tabs__nav-wrap::after {
  height: 1px;
}

.el-tabs .el-tabs__nav-next,
.el-tabs .el-tabs__nav-prev {
  font-size: 20px;
  line-height: 60px;
  width: 40px;
  text-align: center;
}

.el-tabs .el-tabs__content {
  flex: 1;
}

.el-tabs .el-tabs__content .el-tab-pane {
  height: 100%;
  overflow-y: auto;
}

.el-tabs__item:focus.is-active.is-focus:not(:active) {
  box-shadow: none;
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a{
  font-weight: normal;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover {
  font-weight: bold;
}

.el-message {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
  border: none;
  border-radius: 2px;
  min-width: 240px;
}

.el-message > i {
  font-size: 24px;
  vertical-align: -3px;
  margin-right: 4px;
}

.el-message > i.icon-success {
  color: #47C677;
}

.el-message > i.icon-warning {
  color: #FF7E43;
}

.el-message > i.icon-error {
  color: #FF5A47;
}

.el-message .el-message__content {
  color: #333;
}

.mw-confirm-box .el-message-box__content {
  padding-left: 40px;
}

.mw-confirm-box .el-message-box__btns {
  padding: 24px 20px 10px;
}

.mw-confirm-box .el-message-box__btns > button {
  float: right;
  margin-left: 12px;
}

.mw-confirm-box .el-message-box__btns:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.el-popper[x-placement^="bottom"] .popper__arrow {
  transform: none;
}
.el-input__inner,
.el-textarea__inner,
.el-input-group__append,
.el-input-group__prepend {
  border-radius: 0px;
}
.el-input-group__prepend,
.el-input__inner,
.el-input-group__append,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
  border-color: #E6E6E6;
}
.el-input-group__prepend{
  background-color: #fff;
}
.el-input-group__append {
  background-color: #fafafa;
}
.el-input__suffix {
  right: 10px;
  color: #666;
}

.el-select .el-input__inner:focus,
.el-select .el-input.is-focus .el-input__inner {
  border-color:#E6E6E6;
}
.el-select-dropdown {
  border-radius: 0;
}
.el-select-dropdown__item.hover {
  background: #fff;
}
.el-select-dropdown__item:hover {
  background: #f5f5f5;
}

.el-input--small .el-input__inner,
.checkedList,
.el-button.el-button--default.el-button--small,
.el-button.el-button--primary.el-button--brand.el-button--small,
.el-button.el-button--primary.el-button--small {
  height:36px;
  font-size: 14px;
  padding: 0 16px;
}
.el-button--small {
  min-width: 88px;
}
.el-input--small .el-input__suffix {
  line-height: 36px;
}
.el-pagination .el-input--small .el-input__inner {
  padding: 0 4px;
}

.el-button:hover,
.el-button:focus {
  color: #333;
  border-color: #e6e6e6;
  background-color: #fafafa;
}
.el-button:focus  {
  background-color: #f5f5f5;
}
.el-button--primary:hover,
.el-button--primary:focus {
  background: #ffba00;
  border-color: #ffba00;
  color: #fff;
}
.el-button--text {
  min-width: 0;
}
.el-button--text:hover,
.el-button--text:focus {
  color: #ffba00;;
  border-color: transparent;
  background-color: transparent;
}

.el-button--text.plain-btn {
  color: #333;
}

.el-button--text.plain-btn:hover,
.el-button--text.plain-btn:focus {
  color: #ffba00;;
}

.el-cascader--small .el-cascader__label {
  line-height: 36px;
}

.el-popper[x-placement^="top"] {
  margin-bottom: 0;
}
.el-popper[x-placement^="bottom"] {
  margin-top: 0;
}
.el-popper[x-placement^="right"] {
  margin-left: 0;
}
.el-popper[x-placement^="left"] {
  margin-right: 0;
}
.popper__arrow{
  display: none !important;
}

/**tooltip light 样式修改 **/
.el-tooltip__popper.is-light {
  font-size: 12px;
  padding: 16px;
  color: #000;
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.el-tooltip__popper.is-dark .popper__arrow,
.el-tooltip__popper.is-light .popper__arrow{
  display: block !important;
}
.el-tooltip__popper.is-light[x-placement^="top"] {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.el-tooltip__popper.is-light[x-placement^="top"] .popper__arrow {
  border-top-color: #e6e6e6;
}
.el-tooltip__popper.is-light[x-placement^="bottom"] {
  margin-top: 4px;
  box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.1);
}
.el-tooltip__popper.is-light[x-placement^="bottom"] .popper__arrow {
  border-bottom-color: #e6e6e6;
}
.el-tooltip__popper.is-light[x-placement^="left"] .popper__arrow {
  border-left-color: #e6e6e6;
}
.el-tooltip__popper.is-light[x-placement^="right"] .popper__arrow {
  border-right-color: #e6e6e6;
}
/**tooltip light 样式修改 **/

.el-select-dropdown__item span{
  font-weight: normal;
}
.el-breadcrumb__item .el-breadcrumb__inner{
  font-size: 12px;
}
.el-menu-item-group .el-menu-item-group__title{
  padding:0;
}
.el-tree-node__expand-icon{
  color:#999;
}
.el-tree-node__content:hover {
  background-color: #fafafa;
}
.el-tree-node:focus > .el-tree-node__content {
  background-color: #f5f5f5;
}
.el-tree__empty-text{
  color: #999;
}

.icon-success{
  color: #00B86B;
}
.icon-warning{
  color: #FF7E43;
}
.icon-errow{
  color: #FF6160;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-textarea__inner {
  border-color: #e6e6e6;
}

.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: #ffa800;
}

.opertree-node-label p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 8px;
  margin-right: 8px;
}
.el-tree
  .el-tree-node
  .el-tree-node__content:nth-child(1)
  .opertree-node-label
  p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 110px;
}
.el-tree
  .el-tree-node
  .el-tree-node__children
  .el-tree-node__content
  .opertree-node-label
  p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}
.el-tree
  .el-tree-node
  .el-tree-node__children
  .el-tree-node__children
  .el-tree-node__content
  .opertree-node-label
  p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
}
.el-tree
  .el-tree-node
  .el-tree-node__children
  .el-tree-node__children
  .el-tree-node__children
  .el-tree-node__content
  .opertree-node-label
  p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 40px;
}
/* fix Chrome transition blink */
.el-card {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

}
/* 处理element UI的table组件固定表头并且带分页时，分页的高度没有计算进去导致不出现滚动条的问题 */
.el-table__body-wrapper {
  overflow-y: auto;
}


/* ycc,修改下拉无圆角 */
.el-dropdown-menu, .el-popover {
  border-radius: 0;
  border: 1px solid #f2f2f2;
}

/* ycc,修改加载样式 */
.el-loading-mask {
  background: rgba(0,0,0,0.1);
  z-index: 999999;
}
.el-loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 48px;
  left: 50%;
  margin-top: -24px;
  margin-left: -105px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
  -moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
  -moz-border-radius: 2px; /* Firefox */
  -webkit-border-radius: 2px; /* Safari 和 Chrome */
  border-radius: 2px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
.el-loading-spinner .circular {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.el-loading-spinner .el-loading-text {
  font-size: 14px;
  color: #919599;
  letter-spacing: 0;
  line-height: 14px;
}

.item-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}