/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Break-point
--------------------------*/
/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.dbj-upload {
  width: 456px; }
  .dbj-upload .el-upload-wrapper {
    line-height: 16px;
    padding-top: 12px; }
    .dbj-upload .el-upload-wrapper .el-upload {
      display: block;
      text-align: left; }
  .dbj-upload--single .dbj-upload-list {
    display: none; }
  .dbj-upload--single.has-files .el-upload-wrapper {
    display: none; }
  .dbj-upload--single.has-files .dbj-upload__tip {
    display: none; }
  .dbj-upload--single.has-files .dbj-upload-list {
    display: block; }
  .dbj-upload__button {
    color: #19C370;
    font-size: 12px;
    line-height: 16px; }
    .dbj-upload__button i {
      font-size: 14px;
      margin-right: 2px; }
  .dbj-upload__tip {
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: #999; }

.dbj-upload-list {
  list-style: none;
  padding: 8px 0 0 0;
  margin: 0; }
  .dbj-upload-list__item {
    line-height: 16px;
    margin-top: 4px; }
    .dbj-upload-list__item .dbj-upload-list__item-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-size: 12px;
      margin: 0;
      height: 16px;
      line-height: 16px;
      color: #333; }
      .dbj-upload-list__item .dbj-upload-list__item-content .file-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 400px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      .dbj-upload-list__item .dbj-upload-list__item-content .content-wrapper {
        display: inline-block;
        height: 16px;
        line-height: 16px; }
        .dbj-upload-list__item .dbj-upload-list__item-content .content-wrapper > i {
          display: none;
          color: #19C370;
          margin-left: 12px;
          font-size: 14px;
          vertical-align: middle; }
      .dbj-upload-list__item .dbj-upload-list__item-content .content {
        display: inline-block;
        font-size: 0;
        vertical-align: middle;
        padding: 0; }
        .dbj-upload-list__item .dbj-upload-list__item-content .content .file-name {
          display: inline-block;
          max-width: 224px;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          font-size: 12px;
          white-space: nowrap; }
        .dbj-upload-list__item .dbj-upload-list__item-content .content .file-suffix {
          display: inline-block;
          font-size: 12px;
          vertical-align: middle; }
      .dbj-upload-list__item .dbj-upload-list__item-content .file-size {
        color: #666;
        font-size: 0;
        display: inline-block;
        height: 16px;
        line-height: 16px; }
        .dbj-upload-list__item .dbj-upload-list__item-content .file-size .current {
          font-size: 12px; }
        .dbj-upload-list__item .dbj-upload-list__item-content .file-size .total {
          font-size: 12px;
          color: #999; }
      .dbj-upload-list__item .dbj-upload-list__item-content > i {
        font-size: 14px;
        color: #999;
        cursor: pointer;
        display: none; }
      .dbj-upload-list__item .dbj-upload-list__item-content .upload-icon {
        display: none; }
        .dbj-upload-list__item .dbj-upload-list__item-content .upload-icon i {
          font-size: 14px;
          color: #999;
          cursor: pointer; }
    .dbj-upload-list__item .dbj-upload-list__item-progress {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 4px 0 0 0;
      height: 16px;
      line-height: 16px; }
      .dbj-upload-list__item .dbj-upload-list__item-progress .progress {
        display: block;
        width: 400px;
        height: 2px;
        border-radius: 2px;
        background: #f5f5f5; }
        .dbj-upload-list__item .dbj-upload-list__item-progress .progress .bar {
          display: block;
          width: 0;
          height: 2px;
          border-radius: 2px;
          background: #19C370;
          -webkit-transition: 0.3s ease all;
          transition: 0.3s ease all; }
      .dbj-upload-list__item .dbj-upload-list__item-progress i {
        font-size: 14px;
        color: #999;
        cursor: pointer;
        margin-right: 28px; }
    .dbj-upload-list__item.complete .dbj-upload-list__item-progress {
      visibility: hidden; }
    .dbj-upload-list__item.complete .dbj-upload-list__item-content > i {
      display: inline-block; }
    .dbj-upload-list__item.complete .dbj-upload-list__item-content .upload-icon {
      display: inline-block; }
    .dbj-upload-list__item.complete .dbj-upload-list__item-content .content-wrapper > i {
      display: inline-block; }
