/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Break-point
--------------------------*/
/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.dbj-dir-upload {
  width: 520px; }
  .dbj-dir-upload > .el-upload-wrapper {
    line-height: 16px;
    padding-top: 12px; }
    .dbj-dir-upload > .el-upload-wrapper .el-upload {
      display: block;
      text-align: left; }
  .dbj-dir-upload__button {
    color: #19C370;
    font-size: 12px;
    line-height: 16px; }
    .dbj-dir-upload__button i {
      font-size: 14px;
      margin-right: 2px; }
  .dbj-dir-upload__tip {
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: #999; }
  .dbj-dir-upload__panel {
    display: none; }
    .dbj-dir-upload__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .dbj-dir-upload__content > i.el-icon-arrow-down {
        visibility: hidden;
        font-size: 20px;
        color: #999;
        cursor: pointer;
        -webkit-transition: .3s ease all;
        transition: .3s ease all; }
      .dbj-dir-upload__content > img {
        width: 32px;
        height: 32px;
        margin-left: 2px; }
      .dbj-dir-upload__content > .content-wrapper {
        margin-left: 8px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
        .dbj-dir-upload__content > .content-wrapper > .top {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .dbj-dir-upload__content > .content-wrapper > .top i {
            display: none; }
          .dbj-dir-upload__label {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            line-height: 16px;
            height: 16px; }
            .dbj-dir-upload__label .file-name {
              font-size: 12px;
              color: #333; }
            .dbj-dir-upload__label > i.dbj-icon-success {
              margin-left: 12px;
              font-size: 14px;
              color: #19C370; }
            .dbj-dir-upload__label > i.dbj-icon-warn {
              margin-left: 12px;
              font-size: 14px;
              color: #ff6160; }
          .dbj-dir-upload__content > .content-wrapper > .top .file-size {
            font-size: 0; }
            .dbj-dir-upload__content > .content-wrapper > .top .file-size .current {
              font-size: 12px;
              color: #666; }
            .dbj-dir-upload__content > .content-wrapper > .top .file-size .total {
              font-size: 12px;
              color: #999; }
          .dbj-dir-upload__content > .content-wrapper > .top > i {
            margin-left: 12px;
            color: #999;
            font-size: 14px;
            cursor: pointer; }
        .dbj-dir-upload__content > .content-wrapper > .bottom {
          display: none;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          margin: 0;
          line-height: 16px;
          height: 16px; }
          .dbj-dir-upload__content > .content-wrapper > .bottom .progress {
            display: block;
            width: 400px;
            height: 2px;
            border-radius: 2px;
            background: #f5f5f5; }
            .dbj-dir-upload__content > .content-wrapper > .bottom .progress .bar {
              display: block;
              width: 0;
              height: 2px;
              border-radius: 2px;
              background: #19C370;
              -webkit-transition: 0.3s ease all;
              transition: 0.3s ease all; }
          .dbj-dir-upload__content > .content-wrapper > .bottom i {
            font-size: 14px;
            color: #999;
            cursor: pointer;
            margin-right: 26px; }
    .dbj-dir-upload__children {
      margin-top: 12px; }
      .dbj-dir-upload__children .dbj-upload .el-upload-wrapper {
        padding-top: 0; }
      .dbj-dir-upload__children .dbj-upload .dbj-upload-list {
        padding: 0; }
        .dbj-dir-upload__children .dbj-upload .dbj-upload-list .dbj-upload-list__item {
          margin: 0; }
  .dbj-dir-upload.ready > .el-upload-wrapper {
    display: none; }
  .dbj-dir-upload.ready > .dbj-dir-upload__tip {
    display: none; }
  .dbj-dir-upload.ready > .dbj-dir-upload__panel {
    display: block; }
  .dbj-dir-upload.uploading .dbj-dir-upload__content .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .dbj-dir-upload.uploaded .dbj-dir-upload__panel .dbj-dir-upload__content > i.el-icon-arrow-down {
    visibility: visible; }
  .dbj-dir-upload.uploaded .dbj-dir-upload__panel .dbj-dir-upload__content .top i {
    display: inline-block; }
  .dbj-dir-upload.uploaded .dbj-dir-upload__panel .dbj-dir-upload__content .top i.dbj-icon-warn {
    display: none; }
  .dbj-dir-upload.uploaded .dbj-dir-upload__panel .dbj-dir-upload__content .bottom {
    display: none; }
  .dbj-dir-upload.uploaded .dbj-dir-upload__panel .dbj-dir-upload__content .file-size {
    display: none; }
  .dbj-dir-upload.uploaded .dbj-dir-upload__panel.expand .dbj-dir-upload__content > i.el-icon-arrow-down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .dbj-dir-upload.no-file .dbj-dir-upload__panel .dbj-dir-upload__content .top i.dbj-icon-success {
    display: none; }
  .dbj-dir-upload.no-file .dbj-dir-upload__panel .dbj-dir-upload__content .top i.dbj-icon-warn {
    display: inline-block; }
